/* CircleIcon.css */
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    /* Adjust the size of the circle */
    height: 40px;
    /* Adjust the size of the circle */
    border-radius: 50%;
    /* Make the div round to create a circle */
    border: 2px solid rgb(69, 79, 91);
    /* Set the default border color */
    cursor: pointer;
}

.icon-wrapper:hover {
    border-color: white;
    /* Change border color to hot pink on hover */
}